<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#000000;text-align:center;">Super Amazing Questions</h1>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:35px;">This app was made by the Joey named Jared Andraszek.</p>
    </div>
    <form id="home-form3" class="list">
      <label class="item item-input" id="home-input2">
        <span class="input-label">Match Number</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <h1 id="home-heading2" style="color:#000000;text-align:center;">Are the joysticks on the right port?</h1>
    <div id="home-button-bar1" class="button-bar">
      <a ui-sref="menu.goodJob" id="home-button4" class="button button-positive  button-block">Yes</a>
      <a ui-sref="menu.joysticksTroubleshooting" id="home-button6" class="button button-positive  button-block">No</a>
    </div>
    <h1 id="home-heading28" style="color:#000000;text-align:center;">Are the wheels clear?</h1>
    <div id="home-button-bar16" class="button-bar">
      <button id="home-button86" class="button button-positive  button-block">Yes</button>
      <button id="home-button88" class="button button-positive  button-block">No</button>
    </div>
    <form id="home-form1" class="list">
      <h1 id="home-heading3" style="color:#000000;text-align:center;">Does the right wheel spin forwards and backwards</h1>
      <div id="home-button-bar2" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button10" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.rightAndLeftWheelMovementTroubleshooting" id="home-button12" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading4" style="color:#000000;text-align:center;">Does the left wheel spin forwards and backwards</h1>
      <div id="home-button-bar3" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button16" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.rightAndLeftWheelMovementTroubleshooting" id="home-button18" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading5" style="color:#000000;text-align:center;">Does the robot put the gear down(Button 3)</h1>
      <div id="home-button-bar4" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button22" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.gearUpAndDownTroubleshooting" id="home-button24" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading6" style="color:#000000;text-align:center;">Does the robot pull the gear up(Button 4)</h1>
      <div id="home-button-bar5" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button28" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.gearUpAndDownTroubleshooting" id="home-button30" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading7" style="color:#000000;text-align:center;">Does the robot open for the gear to enter(Button 1)</h1>
      <div id="home-button-bar6" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button34" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.gearGrabberAndCloserTroubleshooting" id="home-button36" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading8" style="color:#000000;text-align:center;">Does the robot close for the gear to stay(Button 2)</h1>
      <div id="home-button-bar7" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button40" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.gearGrabberAndCloserTroubleshooting" id="home-button42" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading9" style="color:#000000;text-align:center;">Can the robot automatically pick up the gear?</h1>
      <div id="home-button-bar8" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button46" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.automaticGearPickupTroubleshooting" id="home-button48" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading10" style="color:#000000;text-align:center;">Does the climber rotate?</h1>
      <div id="home-button-bar9" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button52" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.climberRotationTroubleshootion" id="home-button54" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading11" style="color:#000000;text-align:center;">Does the agitator rotate?</h1>
      <div id="home-button-bar10" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button58" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.agitatorRotationTroubleshooting" id="home-button60" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading12" style="color:#000000;text-align:center;">Does the agitator attempt to unjam</h1>
      <div id="home-button-bar11" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button64" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.agitatorUnjamingTroubleshooting" id="home-button66" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading13" style="color:#000000;text-align:center;">Does the root need a new battery?</h1>
      <div id="home-button-bar12" class="button-bar">
        <a ui-sref="menu.batteryReplacementTroubleshooting" id="home-button70" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.goodJob" id="home-button72" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading29" style="color:#000000;text-align:center;">Fuel shooter on</h1>
      <div id="home-button-bar14" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button80" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.fuelShooterTroubleshooter" id="home-button81" class="button button-positive  button-block">No</a>
      </div>
      <h1 id="home-heading30" style="color:#000000;text-align:center;">Fuel shooter off</h1>
      <div id="home-button-bar15" class="button-bar">
        <a ui-sref="menu.goodJob" id="home-button83" class="button button-positive  button-block">Yes</a>
        <a ui-sref="menu.fuelShooterTroubleshooter" id="home-button84" class="button button-positive  button-block">No</a>
      </div>
      <a ui-sref="menu.eXPLOSIONS" id="home-button73" class="button button-balanced  button-block">BOOM</a>
    </form>
  </ion-content>
</ion-view>