<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#000000;text-align:center;">Super Amazing Questions</h1>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:35px;">This app was made by Jared Andraszek</p>
    </div>
    <form id="home-form1" class="list">
      <label class="item item-select" id="home-select1">
        <span class="input-label">Are the joysticks on right port?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select2">
        <span class="input-label">Does the right wheel spin forwards and backwards</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select4">
        <span class="input-label">Does the left wheel spin forwards and backwards</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select5">
        <span class="input-label">Does the robot put the gear down?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select7">
        <span class="input-label">Does the robot pull the gear up?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select8">
        <span class="input-label">Does the robot open for the gear to enter?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select10">
        <span class="input-label">Does the robot close for the gear to stay?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select11">
        <span class="input-label">Can the robot automatically pick up the gear?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select12">
        <span class="input-label">Does the climber rotate?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select13">
        <span class="input-label">Does the agitator rotate?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select14">
        <span class="input-label">Does the agitator attempt to unjam</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="home-select15">
        <span class="input-label">Does the root need a new battery?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>