<ion-view title="Joysticks troubleshooting" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="joysticksTroubleshooting-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:30px;">Fix the joystick port to the correct port</p>
    </div>
    <form id="joysticksTroubleshooting-form2" class="list">
      <label class="item item-input" id="joysticksTroubleshooting-input1">
        <span class="input-label">What time was the issue resolved</span>
        <input type="time" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>