<ion-view title="Right and left wheel movement troubleshooting" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="rightAndLeftWheelMovementTroubleshooting-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:30px;">Test the Wheels or the max twark and the max speed.</p>
    </div>
    <form id="rightAndLeftWheelMovementTroubleshooting-form4" class="list">
      <label class="item item-input" id="rightAndLeftWheelMovementTroubleshooting-input3">
        <span class="input-label">What time was it fixed</span>
        <input type="time" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>